@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

$background: #f2f2f2;
$primary: #007af3;
$primary2: #006bd6;
$dark: #282c34;
$anchors: #444;

body {
    font-family: Poppins;
    background: $background;
}
