@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

$background: #cecece;
$background-light: #ececec;
$primary-light: lightblue;
$primary: #007af3;
$primary2: #006bd6;
$dark: #282c34;
$anchors: #444;
$text: white;
$textdark: #333;

$nav-height: 69px;

body {
    font-family: Poppins, Verdana, Geneva, Tahoma, sans-serif;
    background: $background;
    color: $textdark;
}

ul,
li {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}

.container {
    padding: 4em 0;
    margin: 0 2em;
}

.hidden-sm {
    display: none;
}

.hidden-md {
    display: none;
}

.btn-cta {
    text-decoration: none;
    color: $primary;
    display: inline-block;
    background: $background-light;
    font-size: 1.3em;

    font-weight: bold;
    margin-top: 0.5em;
    padding: 0.5em 1.2em;
    border: solid $primary 4px;
    border-radius: 50ch;

    &:hover {
        color: white;
        background: $primary;
    }
}

.navigation {
    background: $background;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: $nav-height;
    z-index: 100;

    .container {
        padding: 1em;
        margin: 0;
        display: flex;
        justify-content: space-between;
        // position: relative;

        .logo {
            display: inline-block;
            margin: 0;
            font-size: 1.3em;
            text-decoration: none;
            font-weight: bold;
            color: $textdark;
            padding: 0.1em 0.5em 0.2em;
            border: solid $primary 3px;
            border-radius: 0.4em;

            span {
                color: $primary2;
            }
        }

        .menu-open {
            width: 1.7em;
            cursor: pointer;
        }

        nav {
            position: absolute;
            top: 0;
            right: 0;
            width: 60%;
            max-width: 350px;
            background: $dark;
            z-index: 999;
            padding: 1em;
            height: 100vh;

            .menu-close {
                cursor: pointer;
                width: 25px;
                margin: 0.5em;
            }

            ul {
                margin: 6em 0;

                li {
                    list-style: none;

                    a {
                        text-decoration: none;
                        color: $text;
                        display: block;
                        padding: 1em 1.5em;

                        &:hover {
                            background: $anchors;
                        }
                    }
                }
            }

            .nav-rh-icons {
                display: flex;
                justify-content: space-evenly;

                .cart-black,
                .wallet-black {
                    display: none;
                }

                img {
                    width: 5.5em;
                    padding: 0.8em;
                    // padding-left: 1em;
                    // margin-left: 0.5em;

                    &:hover {
                        background: $anchors;
                    }
                }

                // .wallet-black > img,
                .wallet-white > img {
                    padding: 0.8em 1.2em;
                    margin-top: 0.3em;
                }
            }
        }
    }
}

.hero-section {
    margin-top: $nav-height;

    .container {
        padding: 5em 0 10em 0;

        .left-col {
            text-align: center;

            h1 {
                font-size: 3em;
                line-height: 1.1em;
                margin-bottom: 0.5em;
            }
            p {
                font-size: 1em;
            }

            .btn-hero {
                box-shadow: 0 0.4em 1em $anchors;
            }
        }

        img {
            display: none;
        }
    }
}

.featured-products,
.latest-products {
    background: $dark;
    color: $text;

    .container {
        h2 {
            font-weight: normal;
            text-align: center;
            margin-bottom: 3em;
            position: relative;

            // &::before {
            //     content: "";
            //     position: absolute;
            //     background: $primary;
            //     top: 45%;
            //     left: 0;
            //     height: 0.2em;
            //     width: 90px;
            // }

            &::after {
                content: "";
                position: absolute;
                background: $primary;
                bottom: -0.8em;
                right: 30%;
                left: 30%;
                height: 0.2em;
                // width: 90px;
            }
        }

        .grid-featured,
        .grid-latest {
            padding: 0;
            display: grid;
            justify-items: center;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            gap: 1.2em;

            .product-card {
                border: solid $background 3px;
                transition: transform 150ms ease;

                img {
                    padding: 1em 1em 0;
                    // min-width: 200px;
                }

                .card-text {
                    padding: 1em 1.5em;
                    text-align: center;
                    color: $background;

                    h4 {
                        font-weight: normal;
                        font-size: 1.3em;
                        margin: 0;
                        color: white;
                    }
                }

                &:hover {
                    transform: translateY(-1em);
                    transition: transform 150ms ease;
                    box-shadow: 0 0.7em 1.5em rgba(0, 0, 0, 0.85);
                }
            }
        }
    }
}

.exclusive-product {
    background: $primary-light;

    .container {
        padding: 4em 0;
        margin: 0 2em;

        img {
            display: block;
            margin: 3em auto;
            transition: transform 150ms ease;
            max-width: 450px;

            &:hover {
                transform: translateY(-0.5em) scale(1.1);
                transition: transform 150ms ease;
            }
        }

        .right-col {
            text-align: center;

            h1 {
                color: $primary;
                font-size: 2em;
            }
        }
    }
}

.testimonials {
    .container {
        .grid-testimonial {
            padding: 0;
            display: grid;
            justify-items: center;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            gap: 1.2em;

            .testimonial-card {
                background: $background-light;
                border-radius: 0.5em;
                // overflow: hidden;
                text-align: center;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 2.5em;
                box-shadow: 0 0 1.2em rgb(77, 77, 77);

                img {
                    margin: 0 auto;
                }

                .quote-image {
                    width: 100px;
                }

                p {
                    font-style: italic;
                }

                .avatar {
                    width: 150px;
                    border-radius: 50%;
                    margin-top: 0.8em;
                }

                .name {
                    font-weight: bold;
                    font-size: 1.2em;
                    margin-top: 0.5em;
                }
            }
        }
    }
}

.brands {
    background: $dark;

    .container {
        .grid-brands {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
            gap: 0.5em;
        }
    }
}

footer {
    background: black;
    color: $background;

    .container {
        margin: 0 0.5em;

        a {
            text-decoration: none;
            color: inherit;
        }

        .grid-footer {
            display: grid;
            grid-template-columns: repeat(12, 1fr);

            .brand-signature {
                grid-column: 1 / -1;
                text-align: center;
                padding: 1.2em 0.5em 0;

                h1 {
                    font-size: 2.6em;
                    display: inline-block;
                    margin: 0 0 0.8em 0;
                    padding: 0.2em 0.8em;
                    border: $primary solid 4px;
                    border-radius: 20px;

                    span {
                        color: $primary;
                    }
                }

                p {
                    padding: 0 1em;
                }

                img {
                    width: 90%;
                }
            }

            .footer-links {
                grid-column: 1 / -1;
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
                justify-content: center;
                text-align: center;
                font-size: 0.8em;

                h4 {
                    color: $background-light;
                    margin-bottom: 0.8em;
                    font-weight: bold;
                    font-size: 1.2em;
                }

                .useful-links {
                    li {
                        list-style: none;
                        padding: 0.4em 0;

                        &:hover {
                            color: white;
                            font-weight: bold;
                        }
                    }
                }

                .socials {
                    .social-icons {
                        margin: 0.5em auto;
                        width: 150px;

                        a {
                            display: inline-block;
                            padding: 15px;

                            img {
                                width: 45px;
                            }
                        }
                    }
                }
            }
        }

        .copyright {
            text-align: center;
            color: $anchors;
            margin-top: 1.5em;
            padding-top: 0.5em;
            position: relative;

            &::before {
                position: absolute;
                content: "";
                top: 0;
                left: 10%;
                right: 10%;
                height: 2px;
                background: $anchors;
            }
        }
    }
}

@media only screen and (min-width: 700px) {
    // .hidden-sm {
    //     display: block;
    // }

    .container {
        margin: 0 10%;
    }

    .navigation .container {
        padding: 1em 0;
        margin: 0 6%;
    }

    .exclusive-product .container {
        margin: 0 10%;
    }

    .hero-section .container .left-col {
        h1 {
            font-size: 4em;
            margin-bottom: 1em;
        }
        p {
            font-size: 1.3em;
        }
        a {
            margin-top: 2.5em;
        }
    }

    // .latest-products .container .grid-latest {
    // }

    footer .container .grid-footer {
        padding: 0 2em;
    }
}

@media only screen and (min-width: 900px) {
    .navigation .container {
        display: grid;
        grid-template-columns: 300px auto;
        justify-content: unset;

        .logo {
            justify-self: start;
        }

        .menu-open,
        .menu-close {
            display: none;
        }

        nav {
            justify-self: end;
            display: flex;
            justify-content: space-between;
            max-width: none;
            position: unset;
            height: unset;
            width: unset;
            background: unset;
            padding: 0;

            ul {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 0;

                li {
                    a {
                        color: $textdark;
                        padding: 0 1em;

                        &:hover {
                            background: unset;
                            font-weight: bold;
                        }
                    }
                }
            }

            .nav-rh-icons {
                margin: auto 0;
                display: flex;

                .cart-black,
                .wallet-black {
                    display: block;
                }

                .cart-white,
                .wallet-white {
                    display: none;
                }

                a {
                    display: block;
                    padding: 0;
                    margin-left: 12px;

                    img {
                        display: block;
                        width: 35px;
                        margin: 0;
                        padding: 0.3em;

                        &:hover {
                            background: unset;
                        }
                    }
                }
            }
        }
    }

    footer .container .grid-footer {
        .brand-signature {
            grid-column: 1 / 7;
        }

        .footer-links {
            grid-column: 7 / -1;
        }
    }

    .latest-products .container .grid-latest,
    .featured-products .container .grid-featured,
    .testimonials .container .grid-testimonial {
        .testimonial-card {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }
}

@media only screen and (min-width: 1100px) {
    .container {
        margin: 0 15%;
    }

    .hidden-md {
        display: block;
    }

    .navigation .container {
        padding: 1em 0;
        margin: 0 15%;
    }

    .exclusive-product .container {
        margin: 0 15%;
    }

    footer .container {
        margin: 0 15%;
        .grid-footer {
            padding: 0;

            .brand-signature {
                grid-column: 1 / 8;
            }

            .footer-links {
                grid-column: 8 / -1;

                .useful-links li {
                    padding: 0.2em 0;
                }

                .socials .social-icons {
                    a {
                        padding: 5px 10px;
                    }
                }
            }
        }
    }
}

.hidden {
    display: none !important;
}
