@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
body {
  font-family: Poppins;
  background: #cecece;
  color: #333;
}

ul,
li {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

.navigation {
  background: #cecece;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 3.5em;
  z-index: 100;
}

.navigation .container {
  padding: 0.8em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.navigation .container .logo {
  font-size: 1.2em;
  text-decoration: none;
  font-weight: bold;
  color: #333;
}

.navigation .container .logo span {
  color: #006bd6;
}

.navigation .container .menu-open {
  width: 1.7em;
  cursor: pointer;
}

.navigation .container nav {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 60%;
  background: #282c34;
  z-index: 999;
  padding: 1em;
  height: 100vh;
}

.navigation .container nav .menu-close {
  cursor: pointer;
  width: 20px;
}

.navigation .container nav ul {
  margin-top: 8em;
}

.navigation .container nav ul li {
  list-style: none;
}

.navigation .container nav ul li a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 1em 1.5em;
}

.navigation .container nav ul li a:hover {
  background: #444;
}

.navigation .container nav .nav-rh-icons {
  margin-top: 4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.navigation .container nav .nav-rh-icons img {
  width: 7em;
  padding: 1em;
}

.navigation .container nav .nav-rh-icons img:hover {
  background: #444;
}

.hero-section {
  margin-top: 3.5em;
}

.hero-section .container {
  padding: 6em 0 10em 0;
  margin: 0 2em;
}

.hero-section .container .left-col {
  text-align: center;
}

.hero-section .container .left-col h1 {
  font-size: 3.6em;
  line-height: 1.1em;
}

.hero-section .container .left-col a {
  text-decoration: none;
  color: white;
  display: inline-block;
  background: #007af3;
  font-size: 20px;
  font-weight: bold;
  margin-top: 2.5em;
  padding: 1.1em 2em;
  border-radius: 50ch;
}

.hero-section .container img {
  display: none;
}

.featured-products,
.latest-products {
  background: #282c34;
  color: white;
}

.featured-products .container,
.latest-products .container {
  padding: 4.5em 0;
  margin: 0 2em;
}

.featured-products .container h2,
.latest-products .container h2 {
  font-weight: normal;
  text-align: center;
  margin-bottom: 3em;
  position: relative;
}

.featured-products .container h2::before,
.latest-products .container h2::before {
  content: "";
  position: absolute;
  background: #007af3;
  top: 45%;
  left: 0;
  height: 0.2em;
  width: 90px;
}

.featured-products .container h2::after,
.latest-products .container h2::after {
  content: "";
  position: absolute;
  background: #007af3;
  top: 45%;
  right: 0;
  height: 0.2em;
  width: 90px;
}

.featured-products .container .grid-featured,
.featured-products .container .grid-latest,
.latest-products .container .grid-featured,
.latest-products .container .grid-latest {
  padding: 0 1.5em;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 1.2em;
}

.featured-products .container .grid-featured .product-card,
.featured-products .container .grid-latest .product-card,
.latest-products .container .grid-featured .product-card,
.latest-products .container .grid-latest .product-card {
  background: #444;
  border-radius: 0.5em;
  overflow: hidden;
  -webkit-box-shadow: 0 0 1.2em #1b1b1b;
          box-shadow: 0 0 1.2em #1b1b1b;
}

.featured-products .container .grid-featured .product-card img,
.featured-products .container .grid-latest .product-card img,
.latest-products .container .grid-featured .product-card img,
.latest-products .container .grid-latest .product-card img {
  padding: 1em;
}

.featured-products .container .grid-featured .product-card .card-text,
.featured-products .container .grid-latest .product-card .card-text,
.latest-products .container .grid-featured .product-card .card-text,
.latest-products .container .grid-latest .product-card .card-text {
  padding: 0 2em 1em 2em;
}

.featured-products .container .grid-featured .product-card .card-text h4,
.featured-products .container .grid-latest .product-card .card-text h4,
.latest-products .container .grid-featured .product-card .card-text h4,
.latest-products .container .grid-latest .product-card .card-text h4 {
  font-weight: bold;
  font-size: 1.3em;
  margin: 0.5em 0;
}

.featured-products .container .grid-featured .hidden-sm,
.featured-products .container .grid-latest .hidden-sm,
.latest-products .container .grid-featured .hidden-sm,
.latest-products .container .grid-latest .hidden-sm {
  display: none;
}

.exclusive-product .container {
  padding: 5em 0;
  margin: 0 2em;
}

.exclusive-product .container img {
  margin-bottom: 3em;
}

.exclusive-product .container .right-col {
  text-align: center;
}

.exclusive-product .container .right-col h1 {
  color: #007af3;
  font-size: 2em;
}

.exclusive-product .container .right-col a {
  text-decoration: none;
  color: white;
  display: inline-block;
  background: #007af3;
  font-size: 20px;
  font-weight: bold;
  margin-top: 0.5em;
  padding: 0.8em 2em;
  border-radius: 50ch;
}
/*# sourceMappingURL=App.css.map */