@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
body {
  font-family: Poppins, sans-serif;
  background: #cecece;
  color: #333;
}

ul,
li {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

.container {
  padding: 4em 0;
  margin: 0 2em;
}

.navigation {
  background: #cecece;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 4em;
  z-index: 100;
}

.navigation .container {
  padding: 1em;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.navigation .container .logo {
  font-size: 1.3em;
  text-decoration: none;
  font-weight: bold;
  color: #333;
  padding: 0 0.5em;
  border: solid #007af3 3px;
  border-radius: 0.4em;
}

.navigation .container .logo span {
  color: #006bd6;
}

.navigation .container .menu-open {
  width: 1.7em;
  cursor: pointer;
}

.navigation .container nav {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 60%;
  max-width: 350px;
  background: #282c34;
  z-index: 999;
  padding: 1em;
  height: 100vh;
}

.navigation .container nav .menu-close {
  cursor: pointer;
  width: 25px;
  margin: 0.5em;
}

.navigation .container nav ul {
  margin: 6em 0;
}

.navigation .container nav ul li {
  list-style: none;
}

.navigation .container nav ul li a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 1em 1.5em;
}

.navigation .container nav ul li a:hover {
  background: #444;
}

.navigation .container nav .nav-rh-icons img {
  width: 5.5em;
  padding: 1em;
  margin-left: 0.5em;
}

.navigation .container nav .nav-rh-icons img:hover {
  background: #444;
}

.hero-section {
  margin-top: 4em;
}

.hero-section .container {
  padding: 5em 0 10em 0;
}

.hero-section .container .left-col {
  text-align: center;
}

.hero-section .container .left-col h1 {
  font-size: 3em;
  line-height: 1.1em;
  margin-bottom: 0.5em;
}

.hero-section .container .left-col p {
  font-size: 1em;
}

.hero-section .container .left-col a {
  text-decoration: none;
  color: #007af3;
  display: inline-block;
  background: #ececec;
  font-size: 1.3em;
  font-weight: bold;
  margin-top: 0.5em;
  padding: 0.5em 1.2em;
  border: solid #007af3 4px;
  border-radius: 50ch;
  -webkit-box-shadow: 0 0.4em 1em #444;
          box-shadow: 0 0.4em 1em #444;
}

.hero-section .container .left-col a:hover {
  color: white;
  background: #007af3;
}

.hero-section .container img {
  display: none;
}

.featured-products,
.latest-products {
  background: #282c34;
  color: white;
}

.featured-products .container h2,
.latest-products .container h2 {
  font-weight: normal;
  text-align: center;
  margin-bottom: 3em;
  position: relative;
}

.featured-products .container h2::after,
.latest-products .container h2::after {
  content: "";
  position: absolute;
  background: #007af3;
  bottom: -0.8em;
  right: 30%;
  left: 30%;
  height: 0.2em;
}

.featured-products .container .grid-featured,
.featured-products .container .grid-latest,
.latest-products .container .grid-featured,
.latest-products .container .grid-latest {
  padding: 0;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.2em;
}

.featured-products .container .grid-featured .product-card,
.featured-products .container .grid-latest .product-card,
.latest-products .container .grid-featured .product-card,
.latest-products .container .grid-latest .product-card {
  border: solid #cecece 3px;
  -webkit-transition: -webkit-transform 150ms ease;
  transition: -webkit-transform 150ms ease;
  transition: transform 150ms ease;
  transition: transform 150ms ease, -webkit-transform 150ms ease;
}

.featured-products .container .grid-featured .product-card img,
.featured-products .container .grid-latest .product-card img,
.latest-products .container .grid-featured .product-card img,
.latest-products .container .grid-latest .product-card img {
  padding: 1em 1em 0;
}

.featured-products .container .grid-featured .product-card .card-text,
.featured-products .container .grid-latest .product-card .card-text,
.latest-products .container .grid-featured .product-card .card-text,
.latest-products .container .grid-latest .product-card .card-text {
  padding: 1em 1.5em;
  text-align: center;
  color: #cecece;
}

.featured-products .container .grid-featured .product-card .card-text h4,
.featured-products .container .grid-latest .product-card .card-text h4,
.latest-products .container .grid-featured .product-card .card-text h4,
.latest-products .container .grid-latest .product-card .card-text h4 {
  font-weight: normal;
  font-size: 1.3em;
  margin: 0;
  color: white;
}

.featured-products .container .grid-featured .product-card:hover,
.featured-products .container .grid-latest .product-card:hover,
.latest-products .container .grid-featured .product-card:hover,
.latest-products .container .grid-latest .product-card:hover {
  -webkit-transform: translateY(-1em);
          transform: translateY(-1em);
  -webkit-transition: -webkit-transform 150ms ease;
  transition: -webkit-transform 150ms ease;
  transition: transform 150ms ease;
  transition: transform 150ms ease, -webkit-transform 150ms ease;
  -webkit-box-shadow: 0 0.7em 1.5em rgba(0, 0, 0, 0.85);
          box-shadow: 0 0.7em 1.5em rgba(0, 0, 0, 0.85);
}

.featured-products .container .grid-featured .hidden-sm,
.featured-products .container .grid-latest .hidden-sm,
.latest-products .container .grid-featured .hidden-sm,
.latest-products .container .grid-latest .hidden-sm {
  display: none;
}

.featured-products .container .grid-featured .hidden-md,
.featured-products .container .grid-latest .hidden-md,
.latest-products .container .grid-featured .hidden-md,
.latest-products .container .grid-latest .hidden-md {
  display: none;
}

.exclusive-product {
  background: lightblue;
}

.exclusive-product .container {
  padding: 4em 0;
  margin: 0 2em;
}

.exclusive-product .container img {
  display: block;
  margin: 3em auto;
  -webkit-transition: -webkit-transform 150ms ease;
  transition: -webkit-transform 150ms ease;
  transition: transform 150ms ease;
  transition: transform 150ms ease, -webkit-transform 150ms ease;
  max-width: 450px;
}

.exclusive-product .container img:hover {
  -webkit-transform: translateY(-0.5em) scale(1.1);
          transform: translateY(-0.5em) scale(1.1);
  -webkit-transition: -webkit-transform 150ms ease;
  transition: -webkit-transform 150ms ease;
  transition: transform 150ms ease;
  transition: transform 150ms ease, -webkit-transform 150ms ease;
}

.exclusive-product .container .right-col {
  text-align: center;
}

.exclusive-product .container .right-col h1 {
  color: #007af3;
  font-size: 2em;
}

.exclusive-product .container .right-col a {
  text-decoration: none;
  color: #007af3;
  display: inline-block;
  background: #ececec;
  font-size: 20px;
  font-weight: bold;
  margin-top: 0.5em;
  padding: 0.5em 1.2em;
  border: solid #007af3 4px;
  border-radius: 50ch;
}

.exclusive-product .container .right-col a:hover {
  color: white;
  background: #007af3;
}

.testimonials .container .grid-testimonial {
  padding: 0;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.2em;
}

.testimonials .container .grid-testimonial .testimonial-card {
  background: #ececec;
  border-radius: 0.5em;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2.5em;
  -webkit-box-shadow: 0 0 1.2em #4d4d4d;
          box-shadow: 0 0 1.2em #4d4d4d;
}

.testimonials .container .grid-testimonial .testimonial-card img {
  margin: 0 auto;
}

.testimonials .container .grid-testimonial .testimonial-card .quote-image {
  width: 100px;
}

.testimonials .container .grid-testimonial .testimonial-card p {
  font-style: italic;
}

.testimonials .container .grid-testimonial .testimonial-card .avatar {
  width: 150px;
  border-radius: 50%;
  margin-top: 0.8em;
}

.testimonials .container .grid-testimonial .testimonial-card .name {
  font-weight: bold;
  font-size: 1.2em;
  margin-top: 0.5em;
}

.testimonials .container .grid-testimonial .hidden-sm {
  display: none;
}

.brands {
  background: #282c34;
}

.brands .container .grid-brands {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(150px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 0.5em;
}

footer {
  background: black;
  color: #cecece;
}

footer .container {
  margin: 0 0.5em;
}

footer .container a {
  text-decoration: none;
  color: inherit;
}

footer .container .grid-footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
}

footer .container .grid-footer .brand-signature {
  grid-column: 1 / -1;
  text-align: center;
  padding: 1.2em 0.5em 0;
}

footer .container .grid-footer .brand-signature h1 {
  font-size: 2.6em;
  display: inline-block;
  margin: 0 0 0.8em 0;
  padding: 0.2em 0.8em;
  border: #007af3 solid 4px;
  border-radius: 20px;
}

footer .container .grid-footer .brand-signature h1 span {
  color: #007af3;
}

footer .container .grid-footer .brand-signature p {
  padding: 0 1em;
}

footer .container .grid-footer .brand-signature img {
  width: 90%;
}

footer .container .grid-footer .footer-links {
  grid-column: 1 / -1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-size: 0.8em;
}

footer .container .grid-footer .footer-links h4 {
  color: #ececec;
  margin-bottom: 0.8em;
  font-weight: bold;
  font-size: 1.2em;
}

footer .container .grid-footer .footer-links .useful-links li {
  list-style: none;
  padding: 0.4em 0;
}

footer .container .grid-footer .footer-links .useful-links li:hover {
  color: white;
  font-weight: bold;
}

footer .container .grid-footer .footer-links .socials .social-icons {
  margin: 0.5em auto;
  width: 150px;
}

footer .container .grid-footer .footer-links .socials .social-icons a {
  display: inline-block;
  padding: 15px;
}

footer .container .grid-footer .footer-links .socials .social-icons a img {
  width: 45px;
}

footer .container .copyright {
  text-align: center;
  color: #444;
  margin-top: 1.5em;
  padding-top: 0.5em;
  position: relative;
}

footer .container .copyright::before {
  position: absolute;
  content: "";
  top: 0;
  left: 10%;
  right: 10%;
  height: 2px;
  background: #444;
}

@media only screen and (min-width: 700px) {
  .container {
    margin: 0 10%;
  }
  .navigation .container {
    padding: 1em 6%;
  }
  .hero-section .container .left-col h1 {
    font-size: 4em;
    margin-bottom: 1em;
  }
  .hero-section .container .left-col p {
    font-size: 1.3em;
  }
  .hero-section .container .left-col a {
    margin-top: 2.5em;
  }
  footer .container .grid-footer {
    padding: 0 2em;
  }
}
/*# sourceMappingURL=App.css.map */