@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
body {
  font-family: Poppins, Verdana, Geneva, Tahoma, sans-serif;
  background: #cecece;
  color: #333;
}

ul,
li {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

.container {
  padding: 4em 0;
  margin: 0 2em;
}

.hidden-sm {
  display: none;
}

.hidden-md {
  display: none;
}

.btn-cta {
  text-decoration: none;
  color: #007af3;
  display: inline-block;
  background: #ececec;
  font-size: 1.3em;
  font-weight: bold;
  margin-top: 0.5em;
  padding: 0.5em 1.2em;
  border: solid #007af3 4px;
  border-radius: 50ch;
}

.btn-cta:hover {
  color: white;
  background: #007af3;
}

.navigation {
  background: #cecece;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 69px;
  z-index: 100;
}

.navigation .container {
  padding: 1em;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navigation .container .logo {
  display: inline-block;
  margin: 0;
  font-size: 1.3em;
  text-decoration: none;
  font-weight: bold;
  color: #333;
  padding: 0.1em 0.5em 0.2em;
  border: solid #007af3 3px;
  border-radius: 0.4em;
}

.navigation .container .logo span {
  color: #006bd6;
}

.navigation .container .menu-open {
  width: 1.7em;
  cursor: pointer;
}

.navigation .container nav {
  position: absolute;
  top: 0;
  right: 0;
  width: 60%;
  max-width: 350px;
  background: #282c34;
  z-index: 999;
  padding: 1em;
  height: 100vh;
}

.navigation .container nav .menu-close {
  cursor: pointer;
  width: 25px;
  margin: 0.5em;
}

.navigation .container nav ul {
  margin: 6em 0;
}

.navigation .container nav ul li {
  list-style: none;
}

.navigation .container nav ul li a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 1em 1.5em;
}

.navigation .container nav ul li a:hover {
  background: #444;
}

.navigation .container nav .nav-rh-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.navigation .container nav .nav-rh-icons .cart-black,
.navigation .container nav .nav-rh-icons .wallet-black {
  display: none;
}

.navigation .container nav .nav-rh-icons img {
  width: 5.5em;
  padding: 0.8em;
}

.navigation .container nav .nav-rh-icons img:hover {
  background: #444;
}

.navigation .container nav .nav-rh-icons .wallet-white > img {
  padding: 0.8em 1.2em;
  margin-top: 0.3em;
}

.hero-section {
  margin-top: 69px;
}

.hero-section .container {
  padding: 5em 0 10em 0;
}

.hero-section .container .left-col {
  text-align: center;
}

.hero-section .container .left-col h1 {
  font-size: 3em;
  line-height: 1.1em;
  margin-bottom: 0.5em;
}

.hero-section .container .left-col p {
  font-size: 1em;
}

.hero-section .container .left-col .btn-hero {
  -webkit-box-shadow: 0 0.4em 1em #444;
          box-shadow: 0 0.4em 1em #444;
}

.hero-section .container img {
  display: none;
}

.featured-products,
.latest-products,
.all-products,
.admin-panel {
  background: #282c34;
  color: white;
}

.featured-products .container h2,
.latest-products .container h2,
.all-products .container h2,
.admin-panel .container h2 {
  font-weight: normal;
  text-align: center;
  margin-bottom: 3em;
  position: relative;
}

.featured-products .container h2::after,
.latest-products .container h2::after,
.all-products .container h2::after,
.admin-panel .container h2::after {
  content: "";
  position: absolute;
  background: #007af3;
  bottom: -0.8em;
  right: 30%;
  left: 30%;
  height: 0.2em;
}

.featured-products .container .grid-featured,
.featured-products .container .grid-latest,
.latest-products .container .grid-featured,
.latest-products .container .grid-latest,
.all-products .container .grid-featured,
.all-products .container .grid-latest,
.admin-panel .container .grid-featured,
.admin-panel .container .grid-latest {
  padding: 0;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.2em;
}

.featured-products .container .grid-featured .product-card,
.featured-products .container .grid-latest .product-card,
.latest-products .container .grid-featured .product-card,
.latest-products .container .grid-latest .product-card,
.all-products .container .grid-featured .product-card,
.all-products .container .grid-latest .product-card,
.admin-panel .container .grid-featured .product-card,
.admin-panel .container .grid-latest .product-card {
  border: solid #cecece 3px;
  -webkit-transition: -webkit-transform 150ms ease;
  transition: -webkit-transform 150ms ease;
  transition: transform 150ms ease;
  transition: transform 150ms ease, -webkit-transform 150ms ease;
}

.featured-products .container .grid-featured .product-card a,
.featured-products .container .grid-latest .product-card a,
.latest-products .container .grid-featured .product-card a,
.latest-products .container .grid-latest .product-card a,
.all-products .container .grid-featured .product-card a,
.all-products .container .grid-latest .product-card a,
.admin-panel .container .grid-featured .product-card a,
.admin-panel .container .grid-latest .product-card a {
  text-decoration: none;
}

.featured-products .container .grid-featured .product-card img,
.featured-products .container .grid-latest .product-card img,
.latest-products .container .grid-featured .product-card img,
.latest-products .container .grid-latest .product-card img,
.all-products .container .grid-featured .product-card img,
.all-products .container .grid-latest .product-card img,
.admin-panel .container .grid-featured .product-card img,
.admin-panel .container .grid-latest .product-card img {
  padding: 1em 1em 0;
}

.featured-products .container .grid-featured .product-card .card-text,
.featured-products .container .grid-latest .product-card .card-text,
.latest-products .container .grid-featured .product-card .card-text,
.latest-products .container .grid-latest .product-card .card-text,
.all-products .container .grid-featured .product-card .card-text,
.all-products .container .grid-latest .product-card .card-text,
.admin-panel .container .grid-featured .product-card .card-text,
.admin-panel .container .grid-latest .product-card .card-text {
  padding: 1em 1.5em;
  text-align: center;
  color: #cecece;
}

.featured-products .container .grid-featured .product-card .card-text h4,
.featured-products .container .grid-latest .product-card .card-text h4,
.latest-products .container .grid-featured .product-card .card-text h4,
.latest-products .container .grid-latest .product-card .card-text h4,
.all-products .container .grid-featured .product-card .card-text h4,
.all-products .container .grid-latest .product-card .card-text h4,
.admin-panel .container .grid-featured .product-card .card-text h4,
.admin-panel .container .grid-latest .product-card .card-text h4 {
  font-weight: normal;
  font-size: 1.3em;
  margin: 0;
  color: white;
}

.featured-products .container .grid-featured .product-card:hover,
.featured-products .container .grid-latest .product-card:hover,
.latest-products .container .grid-featured .product-card:hover,
.latest-products .container .grid-latest .product-card:hover,
.all-products .container .grid-featured .product-card:hover,
.all-products .container .grid-latest .product-card:hover,
.admin-panel .container .grid-featured .product-card:hover,
.admin-panel .container .grid-latest .product-card:hover {
  -webkit-transform: translateY(-1em);
          transform: translateY(-1em);
  -webkit-transition: -webkit-transform 150ms ease;
  transition: -webkit-transform 150ms ease;
  transition: transform 150ms ease;
  transition: transform 150ms ease, -webkit-transform 150ms ease;
  -webkit-box-shadow: 0 0.7em 1.5em rgba(0, 0, 0, 0.85);
          box-shadow: 0 0.7em 1.5em rgba(0, 0, 0, 0.85);
}

.all-products .all-prod-heading {
  margin-top: 5em;
}

.admin-panel .admin-panel-heading {
  margin-top: 5em;
}

.admin-panel .editing-card {
  background: rgba(200, 200, 200, 0.15);
  padding: 1em;
  border-radius: 0.5em;
  display: -ms-grid;
  display: grid;
}

.admin-panel .editing-card .img-mngr {
  padding-bottom: 0.7em;
  text-align: center;
}

.admin-panel .editing-card .img-mngr .img-box {
  padding-bottom: 0.8em;
}

.admin-panel .editing-card .img-mngr input {
  display: none;
}

.admin-panel .editing-card .img-mngr label {
  display: inline-block;
  color: #007af3;
  font-weight: bold;
  border: solid #007af3 3px;
  background: #ececec;
  border-radius: 0.5em;
  padding: 0.3em 1em;
  cursor: pointer;
}

.admin-panel .editing-card .img-mngr .upload-progress {
  background: #007af3;
  height: 4px;
  margin-top: 1em;
}

.admin-panel .editing-card .product-form label,
.admin-panel .editing-card .product-form input {
  display: block;
}

.admin-panel .editing-card .product-form label {
  margin: 0.8em 0 0.2em;
}

.admin-panel .editing-card .product-form input,
.admin-panel .editing-card .product-form textarea {
  padding: 0.3em;
  font-family: inherit;
  font-size: 1em;
  width: 100%;
}

.admin-panel .editing-card .product-form button {
  display: block;
  margin: 2em auto 1em;
  color: #007af3;
  font-size: 1.1em;
  font-weight: bold;
  border: solid #007af3 3px;
  background: #ececec;
  border-radius: 0.5em;
  padding: 0.3em 1em;
}

.admin-panel .editing-card .product-form button:hover {
  color: white;
  background: #007af3;
  cursor: pointer;
}

.product-detail {
  background: #282c34;
  margin-top: 69px;
  color: #ececec;
}

.product-detail .container {
  padding-bottom: 7em;
}

.product-detail .container .detail-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(415px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(415px, 1fr));
  grid-gap: 2em;
}

.product-detail .container .detail-grid .product-image {
  -ms-grid-column-align: center;
      justify-self: center;
}

.product-detail .container .detail-grid .product-image img {
  max-width: 450px;
}

.product-detail .container .detail-grid .product-text h2 {
  position: relative;
  padding: 0.3em 0;
}

.product-detail .container .detail-grid .product-text h2::after {
  content: "";
  position: absolute;
  height: 4px;
  width: 100px;
  bottom: 0;
  left: 0;
  background: #007af3;
}

.product-detail .container .detail-grid .product-text p {
  margin-bottom: 2em;
}

.product-detail .container .detail-grid .product-text form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-detail .container .detail-grid .product-text form input {
  width: 3em;
  height: 2em;
  margin-right: 1.5em;
  font-size: 1.5em;
}

.product-detail .container .detail-grid .product-text form button {
  padding: 0.4em 0.8em;
  background: white;
  color: #007af3;
  font-size: 1.4em;
  font-weight: bold;
  border-radius: 5ch;
  border: solid #007af3 4px;
}

.product-detail .container .detail-grid .product-text form button:hover {
  color: white;
  background: #007af3;
  border: solid white 4px;
  cursor: pointer;
}

.exclusive-product {
  background: lightblue;
}

.exclusive-product .container {
  padding: 4em 0;
  margin: 0 2em;
}

.exclusive-product .container img {
  display: block;
  margin: 3em auto;
  -webkit-transition: -webkit-transform 150ms ease;
  transition: -webkit-transform 150ms ease;
  transition: transform 150ms ease;
  transition: transform 150ms ease, -webkit-transform 150ms ease;
  max-width: 450px;
}

.exclusive-product .container img:hover {
  -webkit-transform: translateY(-0.5em) scale(1.1);
          transform: translateY(-0.5em) scale(1.1);
  -webkit-transition: -webkit-transform 150ms ease;
  transition: -webkit-transform 150ms ease;
  transition: transform 150ms ease;
  transition: transform 150ms ease, -webkit-transform 150ms ease;
}

.exclusive-product .container .right-col {
  text-align: center;
}

.exclusive-product .container .right-col h1 {
  color: #007af3;
  font-size: 2em;
}

.testimonials .container .grid-testimonial {
  padding: 0;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.2em;
}

.testimonials .container .grid-testimonial .testimonial-card {
  background: #ececec;
  border-radius: 0.5em;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2.5em;
  -webkit-box-shadow: 0 0 1.2em #4d4d4d;
          box-shadow: 0 0 1.2em #4d4d4d;
}

.testimonials .container .grid-testimonial .testimonial-card img {
  margin: 0 auto;
}

.testimonials .container .grid-testimonial .testimonial-card .quote-image {
  width: 100px;
}

.testimonials .container .grid-testimonial .testimonial-card p {
  font-style: italic;
}

.testimonials .container .grid-testimonial .testimonial-card .avatar {
  width: 150px;
  border-radius: 50%;
  margin-top: 0.8em;
}

.testimonials .container .grid-testimonial .testimonial-card .name {
  font-weight: bold;
  font-size: 1.2em;
  margin-top: 0.5em;
}

.brands {
  background: #282c34;
}

.brands .container .grid-brands {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(150px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 0.5em;
}

footer {
  background: black;
  color: #cecece;
}

footer .container {
  margin: 0 0.5em;
}

footer .container a {
  text-decoration: none;
  color: inherit;
}

footer .container .grid-footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
}

footer .container .grid-footer .brand-signature {
  grid-column: 1 / -1;
  text-align: center;
  padding: 1.2em 0.5em 0;
}

footer .container .grid-footer .brand-signature h1 {
  font-size: 2.6em;
  display: inline-block;
  margin: 0 0 0.8em 0;
  padding: 0.2em 0.8em;
  border: #007af3 solid 4px;
  border-radius: 20px;
}

footer .container .grid-footer .brand-signature h1 span {
  color: #007af3;
}

footer .container .grid-footer .brand-signature p {
  padding: 0 1em;
}

footer .container .grid-footer .brand-signature img {
  width: 90%;
}

footer .container .grid-footer .footer-links {
  grid-column: 1 / -1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-size: 0.8em;
}

footer .container .grid-footer .footer-links h4 {
  color: #ececec;
  margin-bottom: 0.8em;
  font-weight: bold;
  font-size: 1.2em;
}

footer .container .grid-footer .footer-links .useful-links li {
  list-style: none;
  padding: 0.4em 0;
}

footer .container .grid-footer .footer-links .useful-links li:hover {
  color: white;
  font-weight: bold;
}

footer .container .grid-footer .footer-links .socials .social-icons {
  margin: 0.5em auto;
  width: 150px;
}

footer .container .grid-footer .footer-links .socials .social-icons a {
  display: inline-block;
  padding: 15px;
}

footer .container .grid-footer .footer-links .socials .social-icons a img {
  width: 45px;
}

footer .container .copyright {
  text-align: center;
  color: #444;
  margin-top: 1.5em;
  padding-top: 0.5em;
  position: relative;
}

footer .container .copyright::before {
  position: absolute;
  content: "";
  top: 0;
  left: 10%;
  right: 10%;
  height: 2px;
  background: #444;
}

@media only screen and (min-width: 700px) {
  .container {
    margin: 0 12%;
  }
  .navigation .container {
    padding: 1em 0;
    margin: 0 6%;
  }
  .exclusive-product .container {
    margin: 0 10%;
  }
  .hero-section .container .left-col h1 {
    font-size: 4em;
    margin-bottom: 1em;
  }
  .hero-section .container .left-col p {
    font-size: 1.3em;
  }
  .hero-section .container .left-col a {
    margin-top: 2.5em;
  }
  footer .container .grid-footer {
    padding: 0 2em;
  }
}

@media only screen and (min-width: 900px) {
  .navigation .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 300px auto;
        grid-template-columns: 300px auto;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
  }
  .navigation .container .logo {
    -ms-grid-column-align: start;
        justify-self: start;
  }
  .navigation .container .menu-open,
  .navigation .container .menu-close {
    display: none;
  }
  .navigation .container nav {
    justify-self: end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: none;
    position: unset;
    height: unset;
    width: unset;
    background: unset;
    padding: 0;
  }
  .navigation .container nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
  }
  .navigation .container nav ul li a {
    color: #333;
    padding: 0 1em;
  }
  .navigation .container nav ul li a:hover {
    background: unset;
    font-weight: bold;
  }
  .navigation .container nav .nav-rh-icons {
    margin: auto 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navigation .container nav .nav-rh-icons .cart-black,
  .navigation .container nav .nav-rh-icons .wallet-black {
    display: block;
  }
  .navigation .container nav .nav-rh-icons .cart-white,
  .navigation .container nav .nav-rh-icons .wallet-white {
    display: none;
  }
  .navigation .container nav .nav-rh-icons a {
    display: block;
    padding: 0;
    margin-left: 12px;
  }
  .navigation .container nav .nav-rh-icons a img {
    display: block;
    width: 35px;
    margin: 0;
    padding: 0.3em;
  }
  .navigation .container nav .nav-rh-icons a img:hover {
    background: unset;
  }
  footer .container .grid-footer .brand-signature {
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    grid-column: 1 / 7;
  }
  footer .container .grid-footer .footer-links {
    grid-column: 7 / -1;
  }
  .latest-products .container .grid-latest .testimonial-card,
  .featured-products .container .grid-featured .testimonial-card,
  .testimonials .container .grid-testimonial .testimonial-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media only screen and (min-width: 1150px) {
  .hidden-md {
    display: block;
  }
  .navigation .container {
    padding: 1em 0;
    margin: 0 12%;
  }
  .exclusive-product .container {
    margin: 0 12%;
  }
  footer .container {
    margin: 0 12%;
  }
  footer .container .grid-footer {
    padding: 0;
  }
  footer .container .grid-footer .brand-signature {
    -ms-grid-column: 1;
    -ms-grid-column-span: 7;
    grid-column: 1 / 8;
  }
  footer .container .grid-footer .footer-links {
    grid-column: 8 / -1;
  }
  footer .container .grid-footer .footer-links .useful-links li {
    padding: 0.2em 0;
  }
  footer .container .grid-footer .footer-links .socials .social-icons a {
    padding: 5px 10px;
  }
}

.hidden {
  display: none !important;
}
/*# sourceMappingURL=App.css.map */