@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

$background: #cecece;
$background-light: #ececec;
$primary-light: lightblue;
$primary: #007af3;
$primary2: #006bd6;
$dark: #282c34;
$anchors: #444;
$text: white;
$textdark: #333;

$nav-height: 4em;

body {
    font-family: Poppins;
    background: $background;
    color: $textdark;
}

ul,
li {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}

.navigation {
    background: $background;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: $nav-height;
    z-index: 100;

    .container {
        padding: 1em;
        display: flex;
        justify-content: space-between;
        position: relative;

        .logo {
            font-size: 1.3em;
            text-decoration: none;
            font-weight: bold;
            color: $textdark;
            padding: 0 0.5em;
            border: solid $primary 3px;
            border-radius: 0.4em;

            span {
                color: $primary2;
            }
        }

        .menu-open {
            width: 1.7em;
            cursor: pointer;
        }

        nav {
            display: none;
            position: absolute;
            top: 0;
            right: 0;
            width: 60%;
            background: $dark;
            z-index: 999;
            padding: 1em;
            height: 100vh;

            .menu-close {
                cursor: pointer;
                width: 25px;
                margin: 0.5em;
            }

            ul {
                margin: 6em 0;

                li {
                    list-style: none;

                    a {
                        text-decoration: none;
                        color: $text;
                        display: block;
                        padding: 1em 1.5em;

                        &:hover {
                            background: $anchors;
                        }
                    }
                }
            }

            .nav-rh-icons {
                // display: flex;
                // justify-content: space-evenly;

                img {
                    width: 5.5em;
                    padding: 1em;
                    margin-left: 0.5em;

                    &:hover {
                        background: $anchors;
                    }
                }
            }
        }
    }
}

.hero-section {
    margin-top: $nav-height;

    .container {
        padding: 9em 0 13em 0;
        margin: 0 2em;

        .left-col {
            text-align: center;

            h1 {
                font-size: 3.6em;
                line-height: 1.1em;
                margin-bottom: 0.5em;
            }
            p {
                font-size: 1.2em;
            }

            a {
                text-decoration: none;
                color: $primary;
                display: inline-block;
                background: $background-light;
                font-size: 20px;

                font-weight: bold;
                margin-top: 2.5em;
                padding: 1em 2em;
                border: solid $primary 4px;
                border-radius: 50ch;

                box-shadow: 0 0.4em 1em $anchors;

                &:hover {
                    color: white;
                    background: $primary;
                }
            }
        }

        img {
            display: none;
        }
    }
}

.featured-products,
.latest-products {
    background: $dark;
    color: $text;

    .container {
        padding: 4.5em 0;
        margin: 0 2em;

        h2 {
            font-weight: normal;
            text-align: center;
            margin-bottom: 3em;
            position: relative;
            // z-index: 2;

            &::before {
                content: "";
                position: absolute;
                background: $primary;
                top: 45%;
                left: 0;
                height: 0.2em;
                width: 90px;
                // z-index: 1;
            }

            &::after {
                content: "";
                position: absolute;
                background: $primary;
                top: 45%;
                right: 0;
                height: 0.2em;
                width: 90px;
                // z-index: 1;
            }
        }

        .grid-featured,
        .grid-latest {
            padding: 0 1.5em;
            display: grid;
            justify-items: center;
            grid-template-columns: 1fr;
            gap: 1.2em;

            .product-card {
                border: solid $background 3px;
                transition: transform 150ms ease;

                img {
                    padding: 1.5em 1.5em 0;
                }

                .card-text {
                    padding: 1em 1.5em;
                    text-align: center;
                    color: $background;

                    h4 {
                        font-weight: normal;
                        font-size: 1.3em;
                        margin: 0;
                        color: white;
                    }
                }

                &:hover {
                    transform: translateY(-1em);
                    transition: transform 150ms ease;
                    box-shadow: 0 0.7em 1.5em rgba(0, 0, 0, 0.85);
                }
            }

            .hidden-sm {
                display: none;
            }
        }
    }
}

.exclusive-product {
    background: $primary-light;

    .container {
        padding: 5em 0;
        margin: 0 2em;

        img {
            margin-bottom: 3em;
            transition: transform 150ms ease;

            &:hover {
                transform: translateY(-0.5em) scale(1.1);
                transition: transform 150ms ease;
            }
        }

        .right-col {
            text-align: center;

            h1 {
                color: $primary;
                font-size: 2em;
            }

            a {
                text-decoration: none;
                color: $primary;
                display: inline-block;
                background: $background-light;
                font-size: 20px;

                font-weight: bold;
                margin-top: 0.5em;
                padding: 0.7em 2em;
                border: solid $primary 4px;
                border-radius: 50ch;

                &:hover {
                    color: white;
                    background: $primary;
                }
            }
        }
    }
}

.testimonials {
    .container {
        padding: 4.5em 0;
        margin: 0 2em;

        .grid-testimonial {
            padding: 0 1.5em;
            display: grid;
            justify-items: center;
            grid-template-columns: 1fr;
            gap: 1.2em;

            .testimonial-card {
                background: $background-light;
                border-radius: 0.5em;
                // overflow: hidden;
                text-align: center;
                padding: 2.5em;
                box-shadow: 0 0 1.2em rgb(77, 77, 77);

                .quote-image {
                    width: 100px;
                }

                p {
                    font-style: italic;
                }

                .avatar {
                    width: 150px;
                    border-radius: 50%;
                    margin-top: 0.8em;
                    // border: solid 2px black;
                }

                .name {
                    font-weight: bold;
                    font-size: 1.2em;
                    margin-top: 0.5em;
                }
            }

            .hidden-sm {
                display: none;
            }
        }
    }
}

.brands {
    background: $dark;

    .container {
        padding: 5em 0;
        margin: 0 2em;

        .grid-brands {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 0.5em;
        }
    }
}

footer {
    background: black;
    color: $background;

    .container {
        padding: 4.5em 0;
        margin: 0 2em;

        .grid-footer {
            display: grid;
            grid-template-columns: 1fr;

            a {
                text-decoration: none;
                color: inherit;
            }

            .brand-signature {
                text-align: center;
                padding: 0 1.5em;

                h1 {
                    font-size: 3.5em;
                    margin: 0 0 0.8em 0;
                    padding: 0.2em;
                    border: $primary solid 4px;
                    border-radius: 20px;

                    span {
                        color: $primary;
                    }
                }

                img {
                    width: 90%;
                }
            }

            .footer-links {
                display: flex;
                justify-content: space-around;
                text-align: center;

                h4 {
                    color: $background-light;
                    margin-bottom: 0.5em;
                    font-weight: bold;
                }

                .useful-links {
                    li {
                        list-style: none;
                        padding: 0.22em 0;

                        &:hover {
                            color: white;
                            font-weight: bold;
                        }
                    }
                }

                .socials {
                    width: 40%;

                    .social-icons {
                        display: grid;
                        grid-template-columns: 1fr 1fr;

                        a {
                            img {
                                width: 50px;
                                margin: 0.6em 0;
                            }
                        }
                    }
                }
            }

            .copyright {
                text-align: center;
                color: $anchors;
                margin-top: 1.5em;
                padding-top: 1.5em;
                position: relative;

                &::before {
                    position: absolute;
                    content: "";
                    top: 0;
                    left: 10%;
                    right: 10%;
                    height: 2px;
                    background: $anchors;
                }
            }
        }
    }
}
